%h1 {
    color: white;
    font-weight: bold;
    font-size: 7rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to top, #FBD6D2, #F190B7);
    width: 100%;
    height: 15vh;

}

%h2 {
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, #FBD6D2, #F190B7);
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: black;
    line-height: 60px;

}

%h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    list-style: 0.5;
    text-align: center;

}
