@media screen and (max-width: 1200px) {


    /* ENCABEZADO - NAVEGADOR */


    .parte-principal .hero a img {
        width: 150px;
        height: 150px;

    }


    /*PARTE PRINCIPAL*/

    h1 {
        font-size: 5rem;
        width: 100%;
    }

    /*seccion uno*/

    .ultimas-noticias {
        display: flex;
        flex-wrap: wrap;
    }


    .ultimas-noticias div img {
        width: 100%;
        height: 400px;
    }

    .ultimas-noticias div iframe {
        width: 100%;
        height: 600px;
        padding: 0px;
    }

    /*seccion dos*/

    .galeria-de-fotos>div {
        display: flex;
        flex-wrap: wrap;
    }

    .galeria-de-fotos div div img {
        width: 100%;
        height: 350px;
        margin: 0;
    }

    /*     CANTINA     */

    .cantina p {

        margin-top: 20px;
    }

    .pie-de-pagina a img {
        top: 300px;
        width: 150px;
        height: 150px;

    }


}

@media screen and (max-width: 830px) {


    /*PARTE PRINCIPAL*/

    h1 {
        font-size: 4rem;
    }

    .navegador{
        h1{
            line-height: 85px;
        }
    }

    .deporte{
        h1{
            line-height: 85px;
        }
    }

    .contactos {
        h1{
            line-height: 85px;
        }
    }
    .h1Cantina{
        h1{
            line-height: 85px;
        }
    }



header {
    .barra-navegador {
        ul {
            li {
                a {
                    font-size: 15px;
                    margin-left: none;
                }
            }
        }
    }
}


/* PIE DE PAGINA*/
.pie-de-pagina {
    flex-direction: row;
    padding: auto;
}

.pie-de-pagina div iframe {
    width: 150px;
    height: 100px;
}

.pie-de-pagina div div a img {
    width: 40px;
    height: 40px;
}

.pie-de-pagina div ul li {
    display: none;
}


/* PAGINA EL CLUB*/

.infraestructura div {
    flex-direction: column;
}


.navegador ul {
    flex-direction: column;
    text-align: center;
}

/*     CANTINA      */
.cantina {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    div {
        .imagen-grande {
            display: none;
        }

        .menu-horarios {
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
        }
    }
}


/*CONTACTOS*/
.mapa {
    width: 100%;
}
}


@media screen and (max-width: 570px) {

    /*encabezado*/

    h1 {
        font-size: 3rem;
    }


    h2 {
        font-size: 1.5rem;

    }

    /*  EL CLUB- INFRAESTRUCTURA*/

    .el-club .infraestructura div img {
        margin: 0px;
        width: 100%;
        height: 200px;
    }

    .el-club .infraestructura div p {
        font-size: 1.5rem;
    }

    .el-club .historia p {
        font-size: 1.5rem;
    }

    .el-club .autoridades ul li {
        font-size: 1.5rem;
    }


    /*DPORTES*/
    .titulo-acordeon {
        font-size: 1.5rem;
    }

    .categorias li {
        font-size: 1rem;
    }

    /*CANTINA*/
    .cantina img {
        width: 100%;
    }

    .cantina .costillar {
        width: 100%;
    }

    .cantina p {
        margin-top: 0;
    }



    .menu {
        div {
            .menu-horarios {
                img {
                    margin: 20px;
                    width: 100%;
                    height: 420px;
                }

                div {
                    ul {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    /*pie de pagina*/
    .pie-de-pagina {
        flex-direction: column;
    }
}