$tipografia-texto: 'Ubuntu', sans-serif;
$tipografia-titulos: 'Roboto Mono', monospace;

@mixin flex ($flex, $content) {
    display: $flex;
    justify-content: $content;

}


$footer: (
    align-items: center,
    width: 200px,
    );



$colores: #A63EC5,
    white,
    black,
    #F190B7,
    #CE49BF;